<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  <body>
    <div id="root">
      {{ partial "header.html" . }}
      <div id="content">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
